@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: neurial-grotesk;
  src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}

:root {
  --ff-sansita: "Sansita", sans-serif;
  --purple: #8d34ff;
  --off-white: #f5f5f5;
  --login-bgrc: rgba(230, 210, 255, 1);
  --ff-outfit: "Outfit", sans-serif;
}

/* nav */
nav h2 {
  font-family: var(--ff-sansita);
  font-weight: 700;
  font-size: 28.33px;
}

nav h1 {
  font-family: var(--ff-outfit);
  font-weight: 500;
  font-size: 26px;
}

.login-btn {
  background-color: var(--login-bgrc);
  /* color: var(--purple); */
  border-radius: 8px;
  border: none;
  height: 61px;
  width: 140px;
  font-family: neurial-grotesk;
  font-weight: 500;
  font-size: 20px;
}

.sign-up-btn {
  background-color: var(--purple);
  /* color: white; */
  border-radius: 8px;
  border: none;
  height: 61px;
  width: 140px;
  font-family: neurial-grotesk;
  font-weight: 500;
  font-size: 20px;
}

.sign-up-link {
  color: var(--off-white);
}
.login-link {
  color: var(--purple);
}

.log-out h4 {
  font-family: var(--ff-outfit);
  font-size: 22px;
  font-weight: 400;
  color: #db3e3e;
}

.sign-in-container {
  background-image: url(./assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.form-container {
  background-color: #ffffff;
  width: 100%;
  max-width: 642px;
  height: 500px;
  padding: 2rem 3rem;
  border-radius: 15px;
  /* margin-top: 123px;
  margin-left: 399px; */
}

.form-container h2{
  font-family: neurial-grotesk;
  font-size: 28px;
  font-weight: 700;
}
